// Mixins and other abstracts definition (ex. variables) from
// styles/abstracts/ will be included in any sass files

.app
  min-height: 100%
  min-height: 100vh
  height: 100%
  font-family: Verdana, sans-serif
  color: #444

  .profileHeader
    color: #333
    background: #fbf0f0
    border-bottom: 1px solid #dbd6d6
    padding: 20px
    width: 100%

    .userImage
      margin-top: -10px
      margin-right: 10px
      float: left
      border-radius: 45px
      border: 1px solid #dbd6d6

    .userName
      font-size: 25px
      font-weight: bolder

  .player
    position: fixed
    left: 0
    bottom: 0
    height: 100px
    width: 100%
    background: #fbf0f0
    padding: 1%
    border-top: 2px solid #cbc6c6

  .musicContainer
    background: #faf6f6
    margin-left: 150px
    margin-right: 150px
    margin-bottom: 100px
    padding: 10px

    .playlistGridContainer
      text-align: center
      padding-bottom: 30px

    .playlistTile
      position: relative
      padding: 8px
      display: inline-block
      text-align: left
      background: #f4f0f0

      img
        border: 2px solid #bab4b4

      .transparentImage
        opacity: 0.2

      .tileOverlay
        top: 0
        left: 0
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        width: 250px
        height: 250px
        padding: 10px
        position: absolute

        .tileTitle
          font-size: 20px
          font-weight: bolder
          margin-bottom: 20px

        .tileButtons
          display: flex
          flex-direction: row
          justify-content: center
          align-items: center
          font-size: 13px

    .tracklist
      margin: 20px

      .tracklistTitle
        font-size: 20px
        font-weight: bold

      .tracklistItem
        color: #666
        display: flex
        flex-direction: row
        align-items: center
        border-bottom: 2px solid #dfdfdf
        width: 98%
        padding: 10px
        &:hover
          background: #f2ecec
          cursor: default

        .playButton:hover
          cursor: pointer

        .trackInfo
          display: flex
          flex-direction: row
          width: 100%
          margin-left: 20px

          div
            display: flex
            flex-direction: column
            justify-content: center
            padding: 0 1%

    .circleButton
      font-size: 12px
      display: flex
      justify-content: space-around
      align-items: center
      background: #dbd0d0
      border-radius: 50px
      border: 2px solid #bbb0b0
      &:hover
        background: #fbf0f0
        cursor: pointer

    .backButton
      font-size: 12px
      font-weight: bold
      float: right
      margin-top: -25px
      margin-right: -1%
      .circleButton
        padding: 0 5px
