// Mixins and other abstracts definition (ex. variables) from
// styles/abstracts/ will be included in any sass files

.app
  min-height: 100%
  min-height: 100vh
  height: 100%
  font-family: Verdana, sans-serif
  color: #444

  .profileHeader
    color: #333
    background: #fbf0f0
    border-bottom: 1px solid #dbd6d6
    padding: 20px
    width: 100%

    .userImage
      margin-top: -10px
      margin-right: 10px
      float: left
      border-radius: 45px
      border: 1px solid #dbd6d6

    .userName
      font-size: 25px
      font-weight: bolder

  .player
    position: fixed
    left: 0
    bottom: 0
    height: 100px
    width: 100%
    padding: 20px
    background: #fbf0f0
    border-top: 1px solid #dbd6d6


  .musicContainer
    background: #faf4f4
    margin-left: 150px
    margin-right: 150px
    padding: 10px
    max-height: 70vh

    .playlistGridContainer
      text-align: center
      padding-bottom: 150px

    .playlistTile
      position: relative
      border: 0.2px solid #cdcdcd
      margin: 5px
      padding: 5px
      display: inline-block
      text-align: left

      .transparentImage
        opacity: 0.2

      .tileOverlay
        top: 0
        left: 0
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        width: 250px
        height: 250px
        padding: 10px
        position: absolute

        .tileTitle
          font-size: 20px
          font-weight: bolder
          margin-bottom: 20px

        .tileButtons
          display: flex
          flex-direction: row
          justify-content: center
          align-items: center
          font-size: 13px

          .tileButton
            display: flex
            justify-content: center
            align-items: center
            margin: 20px
            width: 50px
            height: 50px
            background: #dbd0d0
            border-radius: 50px
            border: 2px solid #bbb0b0
            &:hover
              background: #fbf0f0
              cursor: pointer

    .tracklist
      margin: 20px

      .tracklistTitle
        font-size: 20px
        font-weight: bold
        padding-bottom: 10px

        .backButton
          font-size: 12px
          float: right
          background: #ebe0e0
          border: 2px solid #bbb0b0
          border-radius: 10px
          padding: 5px
          &:hover
            background: #fbf0f0
            cursor: pointer

      .tracklistItem
        border-bottom: 2px solid #dfdfdf
        width: 100%
        padding: 10px
